<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>regedit-url-shortener</title>
    <style>
        a {
            color: currentColor;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>URL Shortener </h1>
        <form action="/shortened_url" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">URL</label>
            <input required placeholder="URL you want to shorten" type="url" name="fullUrl" id="fullUrl"
                class="form-control col mr-2" />
            <button class="btn btn-primary" type="submit">Shorten This!</button>
        </form>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Shortened URL</th>
                    <th>No of Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td><a href="<%= shortUrl.full_url %>"><%= shortUrl.full_url %></a></td>
                    <td><a
                            href="<%= shortUrl.shortened_url %>">https://urlshortener-regedit.herokuapp.com/<%= shortUrl.shortened_url %></a>
                    </td>
                    <td><%= shortUrl.clicks %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted"><a href="https://github.com/regedit-msc">
                    <p>&copy; Regedit-msc</p>
                </a></span>
        </div>
    </footer>


</body>

</html>